header {
    z-index: 1;
    position: sticky;
    top: 0;
}

.header-top {
    background-color: #29242e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Funnel Display", sans-serif;
    font-weight: 300;
    font-size: x-large;
}

.header-top p {
    font-size: 18px;
}

.arrowRight {
    padding-left: 20px;
}

.header-bottom {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(3px);
}

.homeLogo {
    padding-left: 15px;
}

.menuLogo {
    padding-right: 15px;
}

.nav-bar {
    display: none;
    font-family: "Funnel Display", sans-serif;
    font-weight: 500;
    font-size: large;
    opacity: 0.5;
}

.nav-bar a {
    padding-right: 20px;
}

@media (min-width: 768px) {
    .header-bottom .menuLogo {
        display: none; 
    }

    .header-top p {
        font-size: 22px;
    }
    .nav-bar {
        display: flex;
    }
  }

