.reel-outer-container {
    display: flex;
    overflow: hidden;
    mask-image: linear-gradient(to right, transparent, black, transparent);
}

.logo-reel-container {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    gap: 80px;
}

.single-logo {
    font-family: "Funnel Display", sans-serif;
    font-weight: 1000;
    color: darkgrey;
    height: 32px;
    width: auto;
}

@media (min-width: 768px) {
    .logo-reel-container {
        gap: 112px;
    }
}