.showcase-outer-container {
    background: linear-gradient(to bottom, #ffffff 60%, #f7e1ce);
}

.showcase-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.showcase-inner-container {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
}

.showcase-container h2 {
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.1px;
    margin-top: 20px;
    background: linear-gradient(to right,  #e6c698, #CC95C0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.showcase-container p {
    text-align: center;
    font-size: 16px;
    color: dimgrey  ;
    letter-spacing: 0.1px;
}

.showcase-image {
    display: block;
    text-align: center;
    padding: 50px;
}

.showcase-image img {
    height: 200px;
    width: 150px;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .tag {
        font-size: 20px;
    }
    .showcase-container h2 {
        font-size: 48px;
    }
    .showcase-container p {
        font-size: 22px;
    }
    .showcase-image {
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    .showcase-image img {
        height: 250px;
        width: 180px;
    }
}

@media (min-width: 1200px) {
    .showcase-image {
        gap: 90px;
    }
    .showcase-image img {
        height: 300px;
        width: 225px;
    }
    .showcase-inner-container {
        max-width: 800px;
    }
}