body {
    background-color: rgb(209, 228, 233);
    padding: 15px;
}

label {
    font-family: "Funnel Display", sans-serif;
}

.input-area {
    width: 400px;
    padding: 5px;
}

.intro {
    font-family: "Funnel Display", sans-serif;
    font-weight: 300;
    font-size: x-large;
    display: block;
    margin-bottom: 10px;
}

.input {
    margin-bottom: 8px;
    width: 75%;
}

.input-area button {
    margin-right: 10px;
}

.switch {
    margin-top: 8px;
}